@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
}
body{
    display:flex;
    min-height: 50vh;
    background-image: url('./dark\ wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10%;

}
.wrapper1{
    
    position:absolute;
    width: 450px;
    background:transparent;
    border: 2px solid;
    color:#fff;
    border-radius: 200px;
    padding:30px 40px;
    backdrop-filter:blur(20px);
    box-shadow: 10 10 50px rgba(0, 0, 0, 0.2);
  

}
.wrapper1 h1{
    text-align: center;
    color: #fff;
}
.wrapper1 .input-box{
   
    width:100%;
    height: 50px;
    margin: 30px 0;
    position:relative;
    
    
    
}
.input-box input{
    width:90%;
    height: 90%;
    background: transparent;
    border:none;
    outline: none;
    border:2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding-right: 40px;
    padding-left: 20px;
    color: #fff;
  
}
.input-box input::placeholder{
    color:#fff;
}
.input-box i{
    position:absolute;
    right: 20px;
    top:30%;
    font-size: 16px;
    transform:translate(50%);
    color: #fff;
    cursor: arrow;
}
.wrapper1 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:10px 0 15px;
}
.remember-forgot label input{
    accent-color:#ffff;
    margin-right: 3px;
}
.remember-forgot a{
    text-decoration:none;
    color: #fff;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper1 .btn{
    width:100%;
    height:45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;
    
}
.wrapper1 .register-link{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}



.wrapper2{
    position: relative;
    width: 450px;
    background:transparent;
    border: 2px solid;
    color:#fff;
    border-radius: 150px;
    padding:30px 40px;
    backdrop-filter:blur(20px);
    box-shadow: 10 10 50px rgba(0, 0, 0, 0.2);
    margin-left: 530px;
    
}
.wrapper2 h1{
    text-align: center;
    color: #fff;
}
.wrapper2 .input-box{
   
    width:100%;
    height: 50px;
    margin: 15px 0;
    position:relative;
}


.register{


/* border: 4px solid #fff; */
position: relative;
margin-bottom: 10%;
align-items: center;
margin-left: 150px; 
padding-bottom: -100px;
margin-top: -50px; 
}
.wrapper2 .btn{
    width:100%;
    height:45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;
}
.overlay{
    color: #fff;
}
button:active{
    transform: scale(0.90);
} 
#signIn , #signUp{
    background-color: #fff;
   
}
.register .right-pannel-active .wrapper1{
    transform:translatetx(100%)
}
.register .right-pannel-active .wrapper2{
    transform:translatetx(100%);
    opacity:1;
    z-index: 5;
}
.overlay-container{
    position:absolute;
    top:0;
    left:50%;
    width: 50%;
    height:100%;
    overflow:hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

}
.register .right-pannel-active .overlay-container{
    transform:translateX(-100%);
}
.overlay{
    position: relative;
    color:#fff;
    background-color: #ff416c;
    left: -100;
    height: 100%;
    width: 200%;
    background: radial-gradient(to right,#ff4b28,#ff228c);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.register .right-pannel-active .overlay{
    transform:translateX(50%);
}
.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top:0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);
}

.overlay-right{
    right:0;
    transform: translateX(0);
}
.register .right-pannel-active .overlay-left{
    transform: translateX(0);

}
.register .right-pannel-active .overlay-right{
    transform: translateX(20%);

}
.input-box{
    height:40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}