body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark background for the whole page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./dark-wallpapers.avif) no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    backdrop-filter: blur(10px); /* Apply blur effect to background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    color: #fff; /* White text color for better readability on dark background */
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444; 
    border-radius: 4px;
    box-sizing: border-box;
    background: #e3e0e0a7; /* White background for input fields */
    color: #333;  /*Dark text color for better readability */
}

.form-group input::placeholder,
.form-group select::placeholder,
.form-group textarea::placeholder {
    color: #333; /* Light black color for placeholder text */
}

.form-group textarea {
    resize: vertical;
}

button {
    background-color: #ea8622;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c68127;
}

.rating {
    margin-top: 20px;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 10px 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 24px;
    color: #ddd; /* Light grey color for unselected stars */
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input:checked ~ label {
    color: #FFD700; /* Gold color for selected stars */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #FFD700; /* Gold color on hover */
}

.rating-description {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ccc; /* Slightly lighter grey for description */
    margin-top: 5px;
}
